* {
  box-sizing: border-box;
}

:root {
  --bg-primary: #223;
  --bg-secondary: #445;
}

body {
  background: var(--bg-primary);
  color: #ddd;

  padding: 1rem;
}

h1 {
  font-size: 2.25rem;
  color: #aa8;

  text-align: center;
}

.big-btn {
  --padding: 1em;
  all: unset;
  display: block;
  width: calc(100% - var(--padding) * 2);

  padding: 0.75em;

  font-size: 1.5rem;

  border-radius: 0.5em;
  background: var(--bg-secondary);

  cursor: pointer;

  margin-block: calc(var(--padding) / 2);
}

.big-btn:hover {
  opacity: 0.8;
}

.big-btn:active {
  background: #444;
}

.big-btn.active {
  background: #444;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
  position: absolute;
}

a .icon {
  color: #aa0;
}

.settings {
  position: absolute;
  background: none;
  --padding: 2rem;
  font-size: 2rem;
  color: #aa0;
  top: var(--padding);
  right: var(--padding);
  border: none;
  cursor: pointer;
  border-radius: 0.2em;
  padding: 0.25em;
}

.settings:hover {
  background: #fff2;
}

.toggle {
  position: relative;
  border-radius: 100vw;
  background: var(--bg-secondary);

  .toggle-label {
    --height: 1.5rem;

    height: var(--height);
    aspect-ratio: 2 / 1;
    display: block;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.1), inset 0 0 0.1rem rgb(0 0 0 / 0.5);
    border-radius: calc(var(--height) / 2);
    cursor: pointer;
    position: relative;

    &::before {
      --bg: lightcoral;
      content: "";
      height: 100%;
      width: 50%;
      background-color: var(--bg);
      display: block;
      border-radius: calc(var(--height) / 2);
      box-shadow: 0 0 0.3rem var(--bg), inset 0 0 0.1rem rgb(0 0 0 / 0.2);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }

  .toggle-checkbox {
    position: absolute;
    opacity: 0;

    &:checked + .toggle-label::before {
      transform: translateX(100%);
    }
  }
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  background: transparent;
  font-size: 1.2rem;
}

label {
  cursor: pointer;
}
